<p>
  <span style="font-family: &quot;Courier New&quot;; color: rgb(0, 0, 0); font-size: 14px;"><b>
          The big idea  </b><br>
<br>
          (c) 2018
<br>
          Marc Wilkinson  
<br>
          David Stevens
<br><br><br><b>
          <a href="/">[RETURN]</a></b>
          </span>
<p><br></p>