<p>
  <span style="font-family: Courier New;; color: rgb(0, 0, 0); font-size: 14px;"><b>
          The big idea protype Graph</b></span>
          <br></p>
          <table class="table table-bordered">
    <tbody><tr>
        <td><a href="/add"><button><font face="Courier New">Add a new idea</font></button></a></td>
        </tr>
        <tr>        </tr>
        <tr>
        <td><a href="/review"><button><font face="Courier New">Review an Idea</font></button></a></td>        
        </tr>
        <tr>
        <td><a href="/about"><button><font face="Courier New">About</font></button></a></td>
    </tr></tbody></table>
<p><br></p>